/* reset */

:root {
    --color-primary: #14aaf5;
    --color-purple: #ab5de6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul li {
    padding: 10px 20px;
}

/* general */
.debug {
    border: 1px solid red;
}

body {
    background-color: #F6F8F9;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;

}

/* header */
header {
    background-color: #ffffff;
    padding: 15px 20px;
}

h1 {
    display: inline;
    font-size: 3em;
    vertical-align: middle;
}

#logo img {
    vertical-align: middle;
}

/* main */
main {
    padding: 30px 0;
}

.top {
    border-bottom: 5px solid #F6F8F9;
    padding: 15px 20px;
}

.tasks {
    padding: 15px 20px;
}

.btn {

    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

.btn:hover {
    background-color: #101011;
    color: #ffffff;
}

.btn:hover+.box {
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0;
}

.btn-filled {
    background-color: var(--color-primary);
    color: #ffffff;
}

.btn-empty {
    border: 1px solid #c4cbd0;
    background-color: white;
    color: #c4cbd0;
}

/* 
.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.checked {
    color: red;
    border: 1px solid red;
}

.delete {
    color: green;
    border: 1px solid green;
} */

/* li.red {
    color: red;
}

input[type="password"] {
    color: red;
} */

/* li:hover>span.circle {
    background-color: black;
} */

li.circle:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;
    line-height: 20px;
    /* centratura verticale */
}

li.circle.checked:before {
    content: '\2713';
    border: 1px solid #2cc6ab;
    color: #2cc6ab;
}

li.circle.delete:before {
    content: '\292B';
    border: 1px solid #ff0000;
    color: #ff0000;
}

.box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
}